[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
pandas = "*"
tabulate = "*"
python-dotenv = "*"
openpyxl = "*"
streamlit = "*"
pandasai = "*"
pypdf = "*"
tiktoken = "*"
sentence-transformers = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
